:root {
  --normal: "Source Serif 4", serif;
  --oswald: "Oswald", sans-serif;
  --logo: "Fascinate", cursive;
  --bungee: "Bungee Shade", cursive;
  --headings: "Fascinate", cursive;
  --nunito: "Nunito", sans-serif;
  --size-p: 20px;
  --size-h1: 3em;
  --size-h2: 3em;
  --size-h3: 2em;
  --weight-h1: 900;
  --weight-h: 700;
  --weight-p: 400;
  --weight-p-bold: 600;
  --kobicha: #653918ff;
  --licorice: #1E1108ff;
  --hunyadi-yellow: #E3A446ff;
  --smoky-black: #080402ff;
  --barn-red: #721609ff;
}

html,
body,
p,
h1,
h2,
h3,
h4,
h5,
ul {
  margin: 0;
  padding: 0;
  /*color: rgba(255, 255, 255, 0.7);*/
}

p, li {
  font-family: var(--normal);
  font-weight: var(--weight-p);
  font-size: var(--size-p);
}

h1 {
  font-family: var(--normal);
  font-style: italic;
  font-weight: var(--weight-h1);
  font-size: var(--size-h2);
  margin-bottom: 40px;
}

h2, h3, h4, h5 {
  font-family: var(--oswald);
  font-weight: var(--weight-h);
  text-transform: uppercase;
}

body {
  background-color: var(--smoky-black);
}

a {
  text-decoration: none;
}

h2 {
  font-size: var(--size-h2);
}

h3 {
  font-size: var(--size-h3);
}

h4 {
  font-size: var(--size-h4);
}

h5 {
  font-size: var(--size-h5);
}

.header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--smoky-black);
  display: flex;
  justify-content: space-between;
}

.nav__ul {
  list-style-type: none;
}
.nav__ul li {
  display: inline-block;
  font-family: var(--oswald);
  padding: 20px;
}
.nav__a {
  padding: 10px;
  text-decoration: none;
  color: white;
  display: block;
}
.nav__a:hover {
  color: var(--hunyadi-yellow);
}
.nav__a i {
  margin-right: 20px;
}
.nav__a--entradas {
  background-color: var(--hunyadi-yellow);
  color: var(--licorice);
  padding: 20px 50px 20px 50px;
  border-radius: 5px;
}
.nav__a--entradas:hover {
  background-color: var(--barn-red);
  color: white;
  animation: transicion-entradas 0.5s;
}
.nav__a--entradas i {
  margin-right: 20px;
}

@keyframes transicion-entradas {
  from {
    background: var(--hunyadi-yellow);
    color: var(--licorice);
  }
  to {
    background: var(--barn-red);
    color: white;
  }
}
.main {
  display: grid;
  margin: 80px 50px 0 50px;
  row-gap: 60px;
  column-gap: 30px;
  grid-template-rows: repeat(9, auto);
  grid-template-columns: 25% 8% 17% 17% 8% 1fr;
  grid-template-areas: "entradas entradas entradas entradas entradas entradas" "bienvenidos titulo-cartelera titulo-cartelera titulo-cartelera titulo-cartelera titulo-cartelera" "bienvenidos cartelera cartelera cartelera cartelera cartelera" "footer-bienvenidos cartelera cartelera cartelera cartelera cartelera" "salas salas salas salas salas salas" "salas--premium salas--premium salas--clasica salas--clasica salas--infantil salas--infantil" "snacks snacks snacks snacks snacks snacks" "contacto--form contacto--form contacto--form contacto--datos contacto--datos contacto--datos" "footer footer footer footer footer footer";
}
.main form {
  text-align: center;
}

.entradas {
  display: none;
  grid-area: entradas;
}

.bienvenidos {
  background-color: white;
  color: black;
  grid-area: bienvenidos;
  border: solid 1px var(--barn-red);
  box-shadow: 5px 5px var(--hunyadi-yellow);
  padding: 50px;
  border-radius: 20px;
}

.titulo-cartelera {
  grid-area: titulo-cartelera;
  color: var(--hunyadi-yellow);
  padding-left: 30px;
  padding-bottom: 20px;
  border-bottom: dotted 10px white;
}
.titulo-cartelera i {
  margin-right: 30px;
}

.footer-bienvenidos {
  grid-area: footer-bienvenidos;
  height: 100px;
}

.luces {
  border-top: dotted white 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 0 !important;
}

.cartelera {
  grid-area: cartelera;
  display: flex;
  justify-content: space-evenly;
}
.cartelera div {
  width: 30%;
}
.cartelera div img {
  max-width: 100%;
  object-fit: cover;
  height: 100%;
}

.salas {
  grid-area: salas;
  color: var(--hunyadi-yellow);
}

.salas--clasica {
  grid-area: salas--clasica;
}

.salas--premium {
  grid-area: salas--premium;
}

.salas--infantil {
  grid-area: salas--infantil;
}

.snacks {
  grid-area: snacks;
}

.contacto--form {
  grid-area: contacto--form;
}

.contacto--datos {
  grid-area: contacto--datos;
}

.footer {
  grid-area: footer;
}

.hero {
  background-image: url(../../assets/imagenes/sala-cine-fullcolor-estrellas.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100%;
  min-height: 600px;
}
.hero__div {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--hunyadi-yellow);
}
.hero__p--principal {
  text-align: center;
  text-transform: uppercase;
  font-size: calc(var(--size-h1) * 1.2);
  font-family: var(--oswald);
  font-weight: var(--weight-p-bold);
  text-shadow: 1px 1px 4px #000000;
}
.hero__p--principal a {
  border: dotted 10px white;
  display: block;
  color: var(--hunyadi-yellow);
  text-decoration: none;
  padding: 20px 30px;
}
.hero__p--principal a:hover {
  color: white;
  border: dotted 10px var(--hunyadi-yellow);
}
.hero__p--secundario {
  font-style: italic;
  font-size: var(--size-h3);
  text-align: center;
  font-family: var(--normal);
  margin-top: 20px;
  color: var(--hunyadi-yellow);
}

.logo__p {
  font-family: var(--logo);
  font-size: var(--size-h1);
  padding: 10px 20px 20px 20px;
  color: white;
}

.platea {
  width: 600px;
  background-color: aqua;
  border: 1px solid lightseagreen;
}

.asiento {
  width: 50px;
  height: 50px;
  border: solid 1px black;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
  appearance: none;
}
.asiento:hover {
  background-color: lightcyan;
}
.asiento:checked {
  background-color: palegreen;
}

.fila {
  width: 100%;
  display: flex;
}

.boton {
  appearance: none;
  border: #ffffff 10px dotted;
  border-radius: 5px;
  padding: 30px;
  font-size: 2em;
  cursor: pointer;
  color: var(--hunyadi-yellow);
  background: transparent;
  margin: 50px auto;
  font-family: var(--oswald);
  font-weight: var(--weight-h);
  text-transform: uppercase;
}

/*# sourceMappingURL=style.css.map */
