:root {
  --normal: "Source Serif 4", serif;
  --oswald:"Oswald", sans-serif;
  --logo:"Fascinate", cursive;
  --bungee: "Bungee Shade", cursive;
  --headings: "Fascinate", cursive;
  --nunito: "Nunito", sans-serif;
  --size-p:20px;
  --size-h1:3em;
  --size-h2:3em;
  --size-h3:2em;
  --weight-h1:900;
  --weight-h:700;
  --weight-p:400;
  --weight-p-bold:600;
  --kobicha: #653918ff;
  --licorice: #1E1108ff;
  --hunyadi-yellow: #E3A446ff;
  --smoky-black: #080402ff;
  --barn-red: #721609ff;
}

html,
body,
p,
h1, h2, h3, h4, h5,
ul {
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 0.7);
}

p, li {
  font-family: var(--normal);
  font-weight: var(--weight-p);
  font-size: var(--size-p);
}

h1 {
  font-family: var(--oswald);
  font-weight: var(--weight-h1);
  font-size: calc(var(--size-h1) * 1.5);
  color: white;
  margin-bottom: 40px;
  text-transform: uppercase;
}

h2, h3, h4, h5 {
  font-family: var(--oswald);
  font-weight: var(--weight-h);
  margin: 30px auto;
  color: white;
  text-transform: uppercase;
}

body {
  background-color: var(--smoky-black);
}

a {
  text-decoration: none;
}

h2 {
  font-size: var(--size-h2);
}

h3 {
  font-size: var(--size-h3);
}

h4 {
  font-size: var(--size-h4);
}

h5 {
  font-size: var(--size-h5);
}

.header {
  position: sticky;
  background-color: var(--smoky-black);
  display: flex;
  justify-content: space-between;
}

.nav__ul {
  list-style-type: none;
}
.nav__ul li {
  display: inline-block;
  font-family: var(--oswald);
  padding: 20px;
}
.nav__a {
  padding: 10px;
  text-decoration: none;
  color: white;
  display: block;
}
.nav__a:hover {
  color: var(--hunyadi-yellow);
}
.nav__a i {
  margin-right: 20px;
}
.nav__a--entradas {
  background-color: var(--hunyadi-yellow);
  color: var(--licorice);
  padding: 20px 50px 20px 50px;
  border-radius: 5px;
}
.nav__a--entradas:hover {
  background-color: var(--barn-red);
  color: white;
  animation: transicion-entradas 0.5s;
}
.nav__a--entradas i {
  margin-right: 20px;
}

@keyframes transicion-entradas {
  from {
    background: var(--hunyadi-yellow);
    color: var(--licorice);
  }
  to {
    background: var(--barn-red);
    color: white;
  }
}
.main {
  padding: 100px;
}
.main__span--h1 {
  font-family: var(--fascinate);
  font-size: var(--size-h2);
}
.main .bienvenida {
  border: solid 1px var(--hunyadi-yellow);
  padding: 50px;
}
.main form {
  text-align: center;
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../assets/imagenes/sala-cine-fullcolor.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100%;
  min-height: 600px;
}
.hero__div {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--hunyadi-yellow);
}
.hero__p--principal {
  text-align: center;
  text-transform: uppercase;
  font-size: calc(var(--size-h1) * 1.2);
  font-family: var(--oswald);
  font-weight: var(--weight-p-bold);
}
.hero__p--principal a {
  border: dotted 10px white;
  display: block;
  color: var(--hunyadi-yellow);
  text-decoration: none;
  padding: 20px 30px;
}
.hero__p--principal a:hover {
  color: white;
  border: dotted 10px var(--hunyadi-yellow);
}
.hero__p--secundario {
  font-style: italic;
  font-size: var(--size-h3);
  text-align: center;
  font-family: var(--normal);
  margin-top: 20px;
  color: var(--hunyadi-yellow);
}

.logo__p {
  font-family: var(--headings);
  font-size: var(--size-h1);
  padding: 10px 20px 20px 20px;
  color: white;
}

.platea {
  width: 600px;
  background-color: aqua;
  border: 1px solid lightseagreen;
}

.asiento {
  width: 50px;
  height: 50px;
  border: solid 1px black;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
  appearance: none;
}
.asiento:hover {
  background-color: lightcyan;
}
.asiento:checked {
  background-color: palegreen;
}

.fila {
  width: 100%;
  display: flex;
}

.boton {
  appearance: none;
  border: #ffffff 10px dotted;
  border-radius: 5px;
  padding: 30px;
  font-size: 2em;
  cursor: pointer;
  color: var(--hunyadi-yellow);
  background: transparent;
  margin: 50px auto;
  font-family: var(--oswald);
  font-weight: var(--weight-h);
  text-transform: uppercase;
}

/*# sourceMappingURL=style.css.map */
