.platea {
    width:600px;
    background-color: aqua;
    border:1px solid lightseagreen;
}
.asiento {
    width:50px;
    height:50px;
    border:solid 1px black;
    background-color: white;
    border-radius:50%;
    cursor:pointer;
    appearance: none;
    
    &:checked {
        background-color:palegreen;
    }
    
}
.libre {
    &:hover {
        background-color:lightcyan;
    }
}
.ocupado {
    background-color:red;
}
.indeterminado {
    /*background-color:grey;*/
    border-color:lighten($color: grey, $amount: 1);
    background-color:white;
}
.fila {
    width:100%;
    display:flex;
}
.entradas__input {
    display:flex;
}