//************* secciones de la pagina **********
//------ IMAGEN INICIAL --------
.hero {
    background-image: url(../../assets/imagenes/telon-cine.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100%;
    min-height: 600px;

    &__div {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__p--principal {
        text-align: center;
        text-transform: uppercase;
        font-size: calc(var(--size-h1)*1.2);
        font-family: var(--oswald);
        font-weight: var(--weight-p-bold);

        a {
            border: dotted 10px white;
            display: block;
            color: var(--rojo-butaca);
            padding: 20px 30px;

            &:hover {
                color: white;
                border: dotted 10px var(--rojo-butaca);
            }
        }


    }

    &__p--secundario {
        font-style: italic;
        font-size: var(--size-h3);
        text-align: center;
        font-family: var(--normal);
        margin-top: 20px;
        color: var(--rojo-butaca);
    }
}

//------ COMUN A TODAS LAS SECCIONES --------
.main {
    display: flex;
    padding: 80px 50px 80px 50px;
    justify-content: space-evenly;

    form {
        text-align: center;
    }
}

//.entradas {
   // display: none;
//}
.entradas__select {
    width:100%;
    margin:2%;
}
#select__funcion {
    display:none;
}

.bienvenidos {
    display: flex;
    margin: 50px;
    padding: 50px;
    border: dotted 5px var(--rojo-butaca);
    align-items: center;
    background-image: url(../../assets/imagenes/estrellaVintageTopRight.png);
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: top right;

    &__h1 {
        width: 80%;
    }

    &__p--vintage {
        font-family: var(--source);
        font-style: italic;
        font-size: 1.5em;
        margin-bottom: 20px;
    }

    &__span {
        color: var(--hunyadi-yellow);
    }
}

.negro {
    background-color: var(--smoky-black);
    color: var(--rojo-butaca);
    background-image: url(../../assets/imagenes/estrellaVintageTopRight--snacks.png);
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: top right;
}

.rojo {
    background-color: var(--rojo-butaca);
    color: white;
    background-image: url(../../assets/imagenes/estrellaVintageTopRight--snacks.png);
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: top right;
}
.gris {
    background-color: #f5f5f5;
    color: var(--smoky-black);
}

.section__titulo {
    padding: 80px 50px 20px 0px;
    margin: auto 50px;

    i {
        margin-right: 30px;
    }

    &--cartelera {
        border-bottom: dotted 10px var(--rojo-butaca);
    }

    &--salas {
        border-bottom: dotted 10px var(--smoky-black);
    }
    &--entradas {
        border-bottom: dotted 10px var(--smoky-black);
        h2::after {
            content:'';
            display:inline;
            position:absolute;
            width:100px;
            height:200px;
background-image: url(../../assets/imagenes/estrellaTextoVintage.png);
  background-size: 100px 100px;
   background-repeat: no-repeat;
  background-position: top right;

        }
    }

    &--snacks {
        border-bottom: dotted 10px #eeeeee;
    }

    &--intro {
        border: solid 1px rgba(255, 255, 255, 0.2);
        width: 70%;
        padding: 30px;
        margin: 50px auto auto auto;

        i {
            margin-right: 10px;
            color: var(--hunyadi-yellow);
        }
    }
    &__p {
        color:#eeeeee;
    }

}

.cartelera {
    &__contenedor {
        width:100%;
        display:flex;
        overflow-x:auto;
        scroll-snap-type: x mandatory;
        -ms-overflow-style: none;
        //scrollbar-width: none;
        &::-webkit-scrollbar{
            display:none;
        }
       /* &> * {
            scroll-snap-align: center;
        }*/
    }
    &__div--imagen {
        width: 30%;
        min-width:28%;
        margin-right:2%;
        position: relative;
        &:hover .cartelera__div--overlay {
            height: 100%;
        }
    }

    &__img {
        width: 100%;
        display: block;
        //object-fit: cover; 
        height: auto;
    }

    &__div--overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: var(--rojo-butaca);
        overflow: hidden;
        width: 100%;
        height: 0;
        transition: .5s ease;
    }

    .text {
        padding: 50px 20px 20px 20px;
        display: grid;
        width: 100%;
        grid-template-columns: 25% 65%;
        row-gap: 10px;
        color: white;
        font-size: 0.8em;
        //position: absolute;

        &--item {
            color: #eeeeee;


            &--left {
                font-family: var(--oswald);
                text-transform: uppercase;
                font-weight: var(--weight-h1);
            }
            &--trama {
                font-size:1em;
                text-align: justify;
            }
        }
    }
    &__boton {
        //background-color:#eeeeee;
        width:80%;
        margin:auto;
        border-radius: 5px;
        //color:var(--rojo-butaca);
        color:#eeeeee;
        font-family:var(--oswald);
        font-size: var(--size-p);
        font-weight: 700;
        text-transform: uppercase;
        padding:10px;
        border:solid 1px #eeeeee;
        text-align: center;
        //position:absolute;
    }
    &__icono {
        position:absolute;
        z-index:1;
        right:50px;
        font-size:4em;
        padding-top:10%;
        color:#eeeeee;
        animation: pointRight 1.5s ease-in-out infinite;
&i {
    margin:auto auto;
}
    }
    @keyframes pointRight {
        0% {
          transform: translateX(0);
        }
        15% {
          transform: translateX(-0.25em);
        }
        35% {
          transform: translateX(0.15em);
        }
        55%{
          transform: translateX(0);
        }
        100% {
          transform: translateX(0);
        }
      }


}
.entradas__datospeli {
    width:40%;
    display:grid;
    grid-template-columns:20% 80%;
   
}
.datospeli {
    &__item {
        padding:20px;
        &--left{
            font-family: var(--oswald);
        }
    }
}




%valoracion--comun {
    content: '';
    display: inline;
    background-repeat: repeat-x;
    position: absolute;
    background-size: 20px 20px;
    background-image: url(../../assets/imagenes/estrellaVintage.png);
}

@mixin valoracion($sala) {
    @if $sala =="premium" {
        @extend %valoracion--comun;
        width: 100px;
        height: 20px;
    }

    @else if $sala =="clasica" {
        @extend %valoracion--comun;
        width: 80px;
        height: 20px;
    }

    @else {
        @extend %valoracion--comun;
        width: 60px;
        height: 20px;
    }
}

.salas {
    flex-direction: column;

    &__p--premium::after {
        @include valoracion("premium");
    }

    &__p--clasica::after {
        @include valoracion("clasica");
    }

    &__p--infantil::after {
        @include valoracion("infantil");
    }
}

.salas__div {
    display: grid;
    grid-template-columns: 30% 15% 55%;
    grid-template-rows: auto auto auto;
    margin-bottom: 50px;

    padding: 40px;
    background-color: #f5f5f5;

}

.salas__item {
    &--info {
        padding: 20px;
    }

    &--titulo {
        padding-left: 30px;
        padding-top: 20px;

        p {
            font-family: var(--oswald);
            font-size: 1.1em;
            text-transform: uppercase;
        }
    }

    &--foto {
        grid-area: 1/1/4/2;

        img {
            max-width: 100%;
            object-fit: cover;
            height: 100%;
        }
    }
}
//---------- ENTRADAS (INICIALMENTE OCULTA)-------

.select {
    background-color: white;
}

.entradas-borrador {
    display: flex;
    grid-area: entradas-borrador;

    div {
        width: 100%;
        margin: 5px;
    }

    @media screen and (max-width: 992px) {
        flex-wrap: wrap;
    }

}


.snacks {
    flex-wrap: wrap;
    row-gap: 30px;

    &__item {
        background-color: rgba(255, 255, 255, 0.1);
        width: 30%;

        img {
            max-width: 100%;
        }

        &--contenido {
            padding: 20px;
        }
    }

    &__p {
color:#eeeeee;
        &--nombre {
            font-family: var(--source);
            font-style: italic;
            margin-bottom: 30px;
            font-size: var(--size-h3);
        }
    }
}

//temporal - descripcion es la info sobre el proyecto
.descripcion {
    margin: 20px 100px 0 100px;
}