:root {
    --source: 'Source Serif 4', serif;
    --poppins: 'Poppins', sans-serif;
    --oswald: 'Oswald', sans-serif;
    --logo: 'Fascinate', cursive;
    --size-p: 16px;
    --size-h1: 3em;
    --size-h2: 3em;
    --size-h3: 2em;
    --weight-h1: 900;
    --weight-h: 700;
    --weight-p: 400;
    --weight-p-bold: 600;
    --rojo-butaca: #cc2d2c;
    --hunyadi-yellow: #E3A446ff;
    --smoky-black: #080402ff;
}

html,
body,
p,
h1,
h2,
h3,
h4,
h5,
ul {
    margin: 0;
    padding: 0;
}

p,
li {
    font-family: var(--poppins);
    font-weight: var(--weight-p);
    font-size: var(--size-p);
}

h1 {
    font-family: var(--source);
    font-style: italic;
    font-weight: var(--weight-h1);
    font-size: var(--size-h2);
}

h2,
h3,
h4,
h5 {
    font-family: var(--oswald);
    font-weight: var(--weight-h);
    text-transform: uppercase;
}

body {
    background-color: white;
}

a {
    text-decoration: none;
}

@for $i from 2 through 5 {
    h#{$i} {
        font-size:var(--size-h#{$i})
    }
}

.header {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: var(--smoky-black);
    display: flex;
    justify-content: space-between;
}

.nav {
    &__ul {
        list-style-type: none;

        li {
            display: inline-block;
            font-family: var(--oswald);
            padding: 20px;
            font-size:20px;
        }
    }

    &__a {
        padding: 10px;
        text-decoration: none;
        color: white;
        display: block;

        &:hover {
            color: var(--rojo-butaca);
        }

        i {
            margin-right: 20px;
        }
    }

    &__a--entradas {
        background-color: var(--rojo-butaca);
        color: white;
        padding: 20px 50px 20px 50px;
        border-radius: 5px;

        &:hover {
            background-color: white;
            color: var(--rojo-butaca);
            animation: transicion-entradas 0.5s;
        }

        i {
            margin-right: 20px;
        }
    }
}

@keyframes transicion-entradas {
    from {
        background: var(--rojo-butaca);
        color: var(--licorice);
    }

    to {
        background: white;
        color: var(--rojo-butaca);
    }
}

.descripcion {
    margin: 20px 100px 0 100px;
}

.main {
    display: flex;
    padding: 80px 50px 80px 50px;
    justify-content: space-evenly;

    form {
        text-align: center;
    }
}

.entradas {
    display: none;
}

.bienvenidos {
    margin: 50px;
    background-color: white;
    border: dotted 5px var(--rojo-butaca);
    padding: 50px;
    align-items: center;
    background-image: url(../../assets/imagenes/estrellaVintageTopRight.png);
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: top right;

    h1 {
        color: black;
    }
}

.vintage {
    font-family: var(--source);
    font-style: italic;
    font-size: 2em;
}

.epocas {
    font-style: italic;
    font-weight: bold;
    padding: 5px;
}

.negro {
    background-color: var(--smoky-black);
    color: var(--rojo-butaca);
    background-image: url(../../assets/imagenes/estrellaVintageBottomRight.png);
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: bottom right;
}

.rojo {
    background-color: var(--rojo-butaca);
    color: white;
    background-image: url(../../assets/imagenes/estrellaVintageTopRight--snacks.png);
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: top right;
}

.section__titulo {
    padding: 80px 50px 20px 0px;
    margin: auto 50px;

    i {
        margin-right: 30px;
    }

    &--cartelera {
        border-bottom: dotted 10px var(--rojo-butaca);
    }

    &--salas {
        border-bottom: dotted 10px var(--smoky-black);
    }

    &--snacks {
        border-bottom: dotted 10px #eeeeee;
    }

    &--intro {
        border: solid 1px rgba(255, 255, 255, 0.2);
        width: 70%;
        padding: 30px;
        margin: 50px auto auto auto;

        i {
            margin-right: 10px;
            color: var(--hunyadi-yellow);
        }
    }

}

.cartelera {
    &__div--imagen {
        width: 30%;
        position: relative;

        &:hover .overlay {
            height: 100%;
        }

        img {
            width: 100%;
            display: block;
            //object-fit: cover; 
            height: auto;
        }
    }

    .text {
        padding: 20px;
        display: grid;
        grid-template-columns: 30% 65%;
        row-gap: 10px;
        color: white;
        font-size: 0.8em;
        position: absolute;

        &--item--left {
            font-family: var(--oswald);
            text-transform: uppercase;
            font-weight: var(--weight-h1);
        }

    }


}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--rojo-butaca);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

%valoracion--comun {
    content: '';
    display: inline;
    background-repeat: repeat-x;
    position: absolute;
    background-size: 20px 20px;
    background-image: url(../../assets/imagenes/estrellaVintage.png);
}

@mixin valoracion($sala) {
    @if $sala =="premium" {
        @extend %valoracion--comun;
        width: 100px;
        height: 20px;
    }

    @else if $sala =="clasica" {
        @extend %valoracion--comun;
        width: 80px;
        height: 20px;
    }

    @else {
        @extend %valoracion--comun;
        width: 60px;
        height: 20px;
    }
}

.salas {
    flex-direction: column;

    &__p--premium::after {
        @include valoracion("premium");
    }

    &__p--clasica::after {
        @include valoracion("clasica");
    }

    &__p--infantil::after {
        @include valoracion("infantil");
    }
}

.salas__div {
    display: grid;
    grid-template-columns: 30% 15% 55%;
    grid-template-rows: auto auto auto;
    margin-bottom: 50px;

    padding: 40px;
    background-color: #f5f5f5;

}

.salas__item {
    &--info {
        padding: 20px;
    }

    &--titulo {
        padding-left: 30px;
        padding-top: 20px;

        p {
            font-family: var(--oswald);
            font-size:1.1em;
            text-transform:uppercase;
        }
    }

    &--foto {
        grid-area: 1/1/4/2;

        img {
            max-width: 100%;
            object-fit: cover;
            height: 100%;
        }
    }
}


.hero {
    background-image: url(../../assets/imagenes/telon-cine.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100%;
    min-height: 600px;

    &__div {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: var(--rojo-butaca);
    }

    &__p--principal {
        text-align: center;
        text-transform: uppercase;
        font-size: calc(var(--size-h1)*1.2);
        font-family: var(--oswald);
        font-weight: var(--weight-p-bold);
        text-shadow: 1px 1px 4px #000000;

        a {
            border: dotted 10px white;
            display: block;
            color: var(--rojo-butaca); //var(--hunyadi-yellow); 
            text-decoration: none;
            padding: 20px 30px;

            &:hover {
                color: white;
                border: dotted 10px var(--rojo-butaca);
            }
        }


    }

    &__p--secundario {
        font-style: italic;
        font-size: var(--size-h3);
        text-align: center;
        font-family: var(--normal);
        margin-top: 20px;
        color: var(--rojo-butacas);
    }
}


.logo__p {
    font-family: var(--logo);
    font-size: var(--size-h1);
    padding: 10px 20px 20px 20px;
    color: white;

    &::after {
        content: '';
        background-image: url(../../assets/imagenes/estrellaVintage.png);
        width: 50px;
        height: 50px;
        background-size: 50px 50px;
        background-repeat: no-repeat;
        display: inline-block;
        background-position: 0 0;
        left: 0;
    }
}

.select {
    background-color: white;
}

.entradas-borrador {
    display: flex;
    grid-area: entradas-borrador;

    div {
        width: 100%;
        margin: 5px;
    }

    @media screen and (max-width: 992px) {
        flex-wrap: wrap;
    }

}

.bienvenida {
    background-color: var(--smoky-black);
    color: white;
    padding: 30px 100px;
}

.snacks {
    flex-wrap: wrap;
    row-gap: 30px;

    &__item {
        background-color: rgba(255, 255, 255, 0.1);
        width: 30%;

        img {
            max-width: 100%;
        }

        &--contenido {
            padding: 20px;
        }
    }

    &__p {
        &--nombre {
            font-family:var(--source);
            font-style: italic;
            margin-bottom:30px;
            font-size:var(--size-h3);
        }
    }
}