// ********* generales *************
:root {
    --source: 'Source Serif 4', serif;
    --poppins: 'Poppins', sans-serif;
    --oswald: 'Oswald', sans-serif;
    --logo: 'Fascinate', cursive;
    --size-p: 16px;
    --size-h1: 3em;
    --size-h2: 3em;
    --size-h3: 2em;
    --weight-h1: 900;
    --weight-h: 700;
    --weight-p: 400;
    --weight-p-bold: 600;
    --rojo-butaca: #cc2d2c;
    --hunyadi-yellow: #E3A446ff;
    --smoky-black: #080402ff;
}

html,
body,
p,
h1,
h2,
h3,
h4,
h5,
ul {
    margin: 0;
    padding: 0;
}

p,
li {
    font-family: var(--poppins);
    font-weight: var(--weight-p);
    font-size: var(--size-p);
    color:var(--smoky-black);
}

h1 {
    font-family: var(--source);
    font-style: italic;
    font-weight: var(--weight-h1);
    font-size: var(--size-h1);
    color:var(--smoky-black);
}

h2,
h3,
h4,
h5 {
    font-family: var(--oswald);
    font-weight: var(--weight-h);
    text-transform: uppercase;
}
a {
    text-decoration: none;
}

@for $i from 2 through 5 {
    h#{$i} {
        font-size:var(--size-h#{$i})
    }
}
